<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

<div class="welcome-wrapper">
  <div class="welcome-text">
    <h1 class="welcome-text-heading">
    Quickly & Easily
    <span class="welcome-callout-text callout-1">Remove</span>
    <div class="rect-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418 67" class="callout-rect-1">
        <rect class="cls-rect" width="418" height="67"/>
      </svg>
    </div>

    <span class="welcome-callout-text callout-2">Duplicates</span>
    <div class="rect-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418 67" class="callout-rect-2">
        <rect class="cls-rect" width="418" height="67"/>
      </svg>
    </div>

    from your Spotify Playlists.
    </h1>
    <%= link_to 'Sign in with Spotify', '/auth/spotify', :class => 'welcome-button' %>
  </div>
  <div class="welcome-image">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1017.27 829.58" class="welcome-svg">
      <title>welcome-img</title>
      <g class="cls-1">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <g class="cls-2">
              <path class="cls-3" d="M975.57,713.89C1074.93,530.24,841.5,144.63,652.85,42.56S153,31.43,53.63,215.09-33.43,566.17,320.48,577.64C533.69,584.55,876.2,897.55,975.57,713.89Z"/>
            </g>
            <g class="cls-2">
              <path class="cls-3" d="M993.57,771.89c99.36-183.65-134.07-569.26-322.72-671.33S171,89.43,71.63,273.09-15.43,624.17,338.48,635.64C551.69,642.55,894.2,955.55,993.57,771.89Z"/>
            </g>
            <path class="cls-4" d="M254.78,236.32c-1.28,1.45-1.92,4.06-2.22,7.13Z"/>
            <polygon class="cls-5" points="186.45 770.97 185.9 774.23 184.05 785.08 203.91 799.62 216.6 790.62 207.6 777.92 206.72 777.28 206.15 778.51 186.45 770.97"/>
            <polygon class="cls-6" points="186.45 770.97 206.15 778.51 206.72 777.28 187.74 763.38 186.45 770.97"/>
            <path class="cls-5" d="M342.18,485.6l-1.56.28s-31.35-3.49-47.76-3.41h-.31A258.84,258.84,0,0,0,266.46,484l-2.63,4.9-48.21,90,5.92,45.22L185.36,770.54l1.09.42,1.29-7.58,19,13.9L283,614.75l10.77,161h.11l0-2.42,20.59.2,27.9-178.42Z"/>
            <polygon class="cls-5" points="293.83 775.71 293.75 784.29 315.65 795.52 326.76 784.62 315.87 773.51 314.45 773.5 314.07 775.91 293.83 775.71"/>
            <polygon class="cls-6" points="293.83 775.71 314.07 775.91 314.45 773.5 293.86 773.29 293.83 775.71"/>
            <path class="cls-5" d="M249.64,252.88l2.92-9.43c.3-3.07.94-5.68,2.22-7.13l1.32-4.25a19,19,0,0,1,3.14-6.79c2.82-3.39,7.58-4.41,12-4.59,11.24-.47,22.9,3.47,30.48,11.78a17.09,17.09,0,0,1,4.4,7.71,16.18,16.18,0,0,1-.55,7.92,29.3,29.3,0,0,0,4.65,1.82c6.29,1.82,14.89-.26,20.78-2.86,7.26-3.22,12-14.74,16.74-20.7a46.15,46.15,0,0,1,4.21-4.62c3.27-3.11,7.13-5.63,9.9-9.19s4.26-8.68,2-12.59c-1.46-2.52-4.16-4-6.82-5.21a54,54,0,0,0-28.12-4.21c-9.07,1.09-17.41,3.76-25.82-.69-7.9-4.19-14.06-3.71-23.15-1.75-9.83,2.12-22.54,1.27-31.66,4.89a25.23,25.23,0,0,0-9.7,7.35,38.1,38.1,0,0,0-5.32,39.94,54,54,0,0,0,4.91,8.19c3.17,4.49,6.86,9.85,11.4,13a8.36,8.36,0,0,1-.9-3.44A15.74,15.74,0,0,1,249.64,252.88Z"/>
            <path class="cls-5" d="M252.56,243.45l-2.92,9.43a15.74,15.74,0,0,0-1,5.15,8.36,8.36,0,0,0,.9,3.44,16.83,16.83,0,0,0,2.79,1.59C252.91,259.43,251.89,250.3,252.56,243.45Z"/>
            <path class="cls-5" d="M306.1,240.18a17.09,17.09,0,0,0-4.4-7.71c-7.58-8.31-19.24-12.25-30.48-11.78-4.4.18-9.16,1.2-12,4.59a19,19,0,0,0-3.14,6.79l-1.32,4.25a3.39,3.39,0,0,1,.47-.46c7.57-6.23,22.27-1.79,30.29,1,7.14,2.51,13.25,7.92,20,11.2A16.18,16.18,0,0,0,306.1,240.18Z"/>
            <path class="cls-7" d="M176.26,623.26a8.82,8.82,0,0,1-2.21-6.22A8.82,8.82,0,0,0,176.26,623.26Z"/>
            <path class="cls-8" d="M238.86,425.71a1.5,1.5,0,0,1,2.1.13l3.66,4.15,4.58-4-5-5.72a3,3,0,0,1,.26-4.19l7.51-2.68a9.29,9.29,0,0,0-10-2L216,421.39l8.68,16.79Z"/>
            <polygon class="cls-7" points="243.87 466.88 240.98 463.61 238.68 464.45 243.87 466.88"/>
            <polygon class="cls-7" points="230.88 459.62 238.55 460.85 231.81 453.21 229.09 457.06 230.88 459.62"/>
            <path class="cls-8" d="M280.65,446l-3.59,7.12a3,3,0,0,1-4.2-.26l-5-5.72-4.5,4.05,3.66,4.15a1.5,1.5,0,0,1-.13,2.1l-7,6.15-9.52,8.4a1.48,1.48,0,0,1-2.09-.13l-.08-.09,1.23,2.62-4.52,8.08-8.82,3.72-7.55-5.34-4.6-10-2.38-3.12-2.72,3.84-13.7-16.8-14.27-17.49L187,432.55,66.84,478.69l-.07,0A10.19,10.19,0,0,0,63,494.89a8.88,8.88,0,0,0,5.9,3l104.42,6.78c4.57,0,7.63,3.21,7,8l-5.91,97.81c4.32.88,10.47-.24,18-8,0,0,11-12,22.63-27.75a227,227,0,0,0,17-26.41l31.76-59.29,2.63-4.9,14.89-27.81A9.3,9.3,0,0,0,280.65,446Zm-83,140.17a4.81,4.81,0,1,1,0-6.8A4.82,4.82,0,0,1,197.63,586.17Zm5.26-20.07a4.81,4.81,0,1,1,0-6.8A4.8,4.8,0,0,1,202.89,566.1ZM208.16,546a4.81,4.81,0,1,1,0-6.8A4.81,4.81,0,0,1,208.16,546Zm20.36-54.8-.09.09-16.49,14.55a1.5,1.5,0,0,1-2.1-.13l-2.46-2.8-2-2.26-17-19.31-4.53-5.13a1.5,1.5,0,0,1,.13-2.1l4.91-4.33,11.59-10.22a1.48,1.48,0,0,1,2.09.13l1.45,1.65,24.58,27.85A1.5,1.5,0,0,1,228.52,491.23Z"/>
            <polygon class="cls-7" points="232.07 548.2 232.07 548.21 215.62 578.91 232.07 548.2"/>
            <path class="cls-9" d="M237.68,441l-2.51-2.84,9.45-8.16L241,425.84a1.49,1.49,0,0,0-2.1-.13l-14.14,12.47,1.43,2.78Z"/>
            <path class="cls-9" d="M254,459.55,237.68,441l-11.53,0,6,11.7-.39.55,6.74,7.64,2.14.35.72,2.25-.43.15,2.89,3.28,2.57,1.21,1.74,3.68.08.09a1.48,1.48,0,0,0,2.09.13l9.52-8.4-1.27-8.14Z"/>
            <path class="cls-9" d="M259.87,463.59l7-6.15a1.5,1.5,0,0,0,.13-2.1l-3.66-4.15-4.72,4.26Z"/>
            <path class="cls-10" d="M228.57,489.22,204,461.37l-1.45-1.65a1.48,1.48,0,0,0-2.09-.13l-11.59,10.22L184,474.14a1.5,1.5,0,0,0-.13,2.1l4.53,5.13,17,19.31,2,2.26,2.46,2.8a1.5,1.5,0,0,0,2.1.13l16.49-14.55.09-.09A1.5,1.5,0,0,0,228.57,489.22Zm-14.32,9.39-.33-.37-10.4-11.8-12.07-13.69,5.79-5.11,4.77,5.41,18,20.45-3.53,3.11Z"/>
            <path class="cls-5" d="M496.4,223.21l.84,2.87c.12-.08.24-.16.35-.25a3.75,3.75,0,1,0-2.62.94l-.86-2.89Z"/>
            <path class="cls-5" d="M497.24,226.08a3.64,3.64,0,0,1-2.27.69l.76,2.58,2.22-.89Z"/>
            <path class="cls-5" d="M496.4,223.21l-2.29.67.86,2.89a3.64,3.64,0,0,0,2.27-.69Z"/>
            <path class="cls-5" d="M487.12,226.64l.85,2.87a2.8,2.8,0,0,0,.35-.25,3.72,3.72,0,1,0-5.25-.27,3.68,3.68,0,0,0,2.63,1.22l-.86-2.9Z"/>
            <path class="cls-5" d="M488,229.51a3.65,3.65,0,0,1-2.27.7l.83,2.81,2.21-.89Z"/>
            <path class="cls-5" d="M487.12,226.64l-2.28.67.86,2.9a3.65,3.65,0,0,0,2.27-.7Z"/>
            <path class="cls-5" d="M477.62,230.27l.85,2.88c.12-.09.24-.16.35-.26a3.72,3.72,0,1,0-5.25-.27,3.68,3.68,0,0,0,2.63,1.22l-.86-2.9Z"/>
            <path class="cls-5" d="M478.47,233.15a3.71,3.71,0,0,1-2.27.69l.87,2.95,2.22-.88Z"/>
            <path class="cls-5" d="M477.62,230.27l-2.28.67.86,2.9a3.71,3.71,0,0,0,2.27-.69Z"/>
            <path class="cls-5" d="M468.32,234.13l.85,2.87c.12-.08.24-.16.35-.25a3.75,3.75,0,1,0-2.62.94L466,234.8Z"/>
            <path class="cls-5" d="M469.17,237a3.64,3.64,0,0,1-2.27.69l.83,2.82,2.22-.88Z"/>
            <path class="cls-5" d="M468.32,234.13l-2.28.67.86,2.89a3.64,3.64,0,0,0,2.27-.69Z"/>
            <path class="cls-5" d="M458.47,238.13l.85,2.88a2.88,2.88,0,0,0,.35-.26,3.71,3.71,0,1,0-5.25-.27,3.68,3.68,0,0,0,2.63,1.22l-.86-2.89Z"/>
            <path class="cls-5" d="M459.32,241a3.71,3.71,0,0,1-2.27.69l.81,2.75,2.22-.89Z"/>
            <path class="cls-5" d="M458.47,238.13l-2.28.68.86,2.89a3.71,3.71,0,0,0,2.27-.69Z"/>
            <path class="cls-5" d="M448.73,242.71l.84,2.87c.12-.08.24-.16.35-.25a3.73,3.73,0,1,0-2.62.95l-.86-2.9Z"/>
            <path class="cls-5" d="M449.57,245.58a3.72,3.72,0,0,1-2.27.7l.63,2.13,2.22-.89Z"/>
            <path class="cls-5" d="M448.73,242.71l-2.29.67.86,2.9a3.72,3.72,0,0,0,2.27-.7Z"/>
            <path class="cls-11" d="M345.4,377.23l3.33-3-5.26-1.52C344.08,374.23,344.73,375.73,345.4,377.23Z"/>
            <path class="cls-11" d="M452.77,280.45l-4.27-4.85-10.84-12.28L358.34,331.8l-21.68,18.72-17.55,15.16L265,412.43l-7.87,6.8L249.2,426l-4.58,4-9.45,8.16,2.51,2.84,16.37,18.56,4.55-4.1,4.72-4.26,4.5-4.05,4-3.63,2.69-2.43,1-.91,7.73-7,62.12-56c-.67-1.5-1.32-3-1.93-4.53l5.26,1.52,74.91-67.5h-.94L416,298.25l7.48-11.32,2.44-.24,11.94-1.16.92,7.58,14.07-12.68Zm-196,163.31-.27-1.71.27,1.71Z"/>
            <path class="cls-10" d="M259.5,410.74l-7.57,2.7-7.51,2.68a3,3,0,0,0-.26,4.19l5,5.72,7.88-6.8,7.87-6.8L263.69,411A3,3,0,0,0,259.5,410.74Z"/>
            <path class="cls-10" d="M283.28,433.21l-7.73,7-1,.91-2.69,2.43-4,3.63,5,5.72a3,3,0,0,0,4.2.26l3.59-7.12.52-1,1.95-3.88,1.15-2.27a3,3,0,0,0,.26-4.2Z"/>
            <path class="cls-12" d="M479.21,274.43a9.67,9.67,0,0,1-1.15.34A9.67,9.67,0,0,0,479.21,274.43Z"/>
            <path class="cls-12" d="M477,275c-1.3.27-2.95.55-4.8.86C474.08,275.55,475.73,275.27,477,275Z"/>
            <path class="cls-12" d="M472.23,275.86l-3,.49Z"/>
            <path class="cls-8" d="M514.58,229a24.33,24.33,0,0,0-4-2.56A7.91,7.91,0,0,0,504,226L498,228.46l-2.22.89-7,2.78-2.21.89-7.24,2.89-2.22.88L470,239.63l-2.22.88-7.65,3.06-2.22.88-7.71,3.07-2.22.89-5.07,2a7.15,7.15,0,0,0-4.43,5.71c-.37,2.55-.67,5-.91,7l.14.16L448.5,275.6a54.25,54.25,0,0,1,13.22-3.47,39.78,39.78,0,0,1,18.54,1.53c14.46-19.12,26.86-27.75,33.78-31.45C518.86,239.63,519.17,232.69,514.58,229Zm-60.41,25.24a2.87,2.87,0,1,1-4.05-.26A2.87,2.87,0,0,1,454.17,254.27Zm9.22-.48a2.87,2.87,0,1,1,.25-4A2.87,2.87,0,0,1,463.39,253.79Zm9.47-4.53a2.87,2.87,0,1,1,.26-4A2.87,2.87,0,0,1,472.86,249.26Zm9.47-4.52a2.87,2.87,0,1,1,.26-4.05A2.87,2.87,0,0,1,482.33,244.74Zm9.47-4.53a2.87,2.87,0,1,1,.26-4.05A2.88,2.88,0,0,1,491.8,240.21Zm9.47-4.53a2.87,2.87,0,1,1,.26-4.05A2.87,2.87,0,0,1,501.27,235.68Z"/>
            <path class="cls-9" d="M497.48,231.38a2.87,2.87,0,1,0,4,.25A2.88,2.88,0,0,0,497.48,231.38Z"/>
            <path class="cls-9" d="M488,235.91a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,488,235.91Z"/>
            <path class="cls-9" d="M478.54,240.43a2.87,2.87,0,1,0,4,.26A2.87,2.87,0,0,0,478.54,240.43Z"/>
            <path class="cls-9" d="M469.06,245a2.87,2.87,0,1,0,4.06.25A2.88,2.88,0,0,0,469.06,245Z"/>
            <path class="cls-9" d="M459.59,249.49a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,459.59,249.49Z"/>
            <path class="cls-9" d="M450.12,254a2.87,2.87,0,1,0,4.05.26A2.87,2.87,0,0,0,450.12,254Z"/>
            <path class="cls-9" d="M208.16,546a4.81,4.81,0,1,0-6.81,0A4.81,4.81,0,0,0,208.16,546Z"/>
            <path class="cls-9" d="M202.89,566.1a4.81,4.81,0,1,0-6.8,0A4.8,4.8,0,0,0,202.89,566.1Z"/>
            <path class="cls-9" d="M197.63,586.17a4.81,4.81,0,1,0-6.81,0A4.83,4.83,0,0,0,197.63,586.17Z"/>
            <path class="cls-13" d="M463.81,277.33l-2.19.45Z"/>
            <path class="cls-13" d="M479.62,274.26a1,1,0,0,0,.41-.3l.23-.3h0L480,274A1.11,1.11,0,0,1,479.62,274.26Z"/>
            <path class="cls-13" d="M452.81,280.43a29.47,29.47,0,0,1,3.35-1.23,29.47,29.47,0,0,0-3.35,1.23Z"/>
            <path class="cls-13" d="M477.33,274.94l-.3.06Z"/>
            <path class="cls-13" d="M452.77,280.45l-4.28-4.85h0l4.28,4.85,0,0h0Z"/>
            <path class="cls-10" d="M461.72,272.13a54.25,54.25,0,0,0-13.22,3.47l4.27,4.85,0,0a29.47,29.47,0,0,1,3.35-1.23c.4-.13.81-.26,1.24-.37,1.35-.39,2.77-.73,4.22-1.05l2.19-.45c1.1-.22,2.2-.42,3.28-.61l2.13-.37,3-.49c1.85-.31,3.5-.59,4.8-.86l.3-.06a11.63,11.63,0,0,0,2.29-.68A1.11,1.11,0,0,0,480,274l.23-.31A39.78,39.78,0,0,0,461.72,272.13Z"/>
            <polygon class="cls-13" points="174.45 610.4 174.33 612.4 174.45 610.4 174.45 610.4"/>
            <path class="cls-13" d="M192.77,621.56a10.3,10.3,0,0,1-1.45,2,10.3,10.3,0,0,0,1.45-2l0,0,22.44-41.9-22.44,41.9Z"/>
            <path class="cls-10" d="M215.06,574.62c-11.61,15.8-22.63,27.75-22.63,27.75-7.51,7.79-13.66,8.91-18,8l-.12,2-.28,4.64a8.82,8.82,0,0,0,2.21,6.22,10.22,10.22,0,0,0,15.06.28,10.3,10.3,0,0,0,1.45-2l0,0,22.44-41.9.39-.72,16.45-30.71A226.32,226.32,0,0,1,215.06,574.62Z"/>
            <polygon class="cls-14" points="238.68 464.45 240.98 463.61 238.55 460.85 230.88 459.62 229.09 457.06 221.54 467.74 223.92 470.86 228.52 480.85 236.07 486.19 244.89 482.47 249.41 474.39 248.18 471.77 243.87 466.88 238.68 464.45"/>
            <polygon class="cls-14" points="241.41 463.45 240.69 461.2 238.55 460.85 240.98 463.61 241.41 463.45"/>
            <polygon class="cls-14" points="243.87 466.88 248.18 471.77 246.44 468.09 243.87 466.88"/>
            <polygon class="cls-15" points="438.76 296.01 439.04 295.63 438.74 293.11 436.96 294.71 438.76 296.01"/>
            <polygon class="cls-14" points="423.64 306.72 430.81 306.79 438.76 296.01 436.96 294.71 423.64 306.72"/>
            <polygon class="cls-14" points="425.88 286.69 436.96 294.71 438.74 293.11 437.82 285.53 425.88 286.69"/>
            <polygon class="cls-14" points="415.96 298.25 422.7 306.71 423.64 306.72 436.96 294.71 425.88 286.69 423.44 286.93 415.96 298.25"/>
            <polygon class="cls-16" points="197.24 467.64 191.44 472.75 203.52 486.44 213.92 498.24 214.25 498.61 216.52 496.61 220.05 493.5 202.01 473.05 197.24 467.64"/>
            <path class="cls-4" d="M548.67,321.2c.06.25.12.49.17.74l1.27.62C549.62,322.13,549.14,321.68,548.67,321.2Z"/>
            <polygon class="cls-16" points="430.81 306.79 423.64 306.72 348.73 374.22 377.84 382.61 439.04 296.21 438.76 296.01 430.81 306.79"/>
            <path class="cls-16" d="M405,436.88a176.89,176.89,0,0,1-32.36-22.42,110.7,110.7,0,0,1-27.27-37.23l-62.12,56,1.25,1.42a3,3,0,0,1-.26,4.2l-1.15,2.27-2,3.88-.51,1a9.3,9.3,0,0,1,.7,10.21L266.46,484a258.84,258.84,0,0,1,26.09-1.55h.31c16.41-.08,47.76,3.41,47.76,3.41l1.56-.28c8.63-1.54,16.93-4.41,25.25-7.09,15.15-4.89,30.62-9.17,44.86-16.08,4.57-2.22,17.18-8.78,12.75-14.88C421.7,442.93,410.2,439.75,405,436.88Z"/>
            <path class="cls-16" d="M336.66,350.52l21.68-18.72L325.1,309.55c-16.41-15.71-23.26-28.28-45.85-25l-2.32.33c-8.23,1.21-15.12,2.3-20.94,3.37-18.21,3.36-25.85,6.6-31,12.88v0l-.3.38-71.78,89.33L187,432.55l3.86,4.74,14.27,17.49,13.7,16.8,2.72-3.84,7.55-10.68,2.72-3.85.39-.55-6-11.7-1.43-2.78L216,421.39l25.85-9.92a9.29,9.29,0,0,1,10,2l7.57-2.7a3,3,0,0,1,4.19.26l1.26,1.43,54.16-46.75Z"/>
            <path class="cls-14" d="M255.25,235.86a3.39,3.39,0,0,0-.47.46l-2.22,7.13c-.67,6.85.35,16-.22,19.61a16.83,16.83,0,0,1-2.79-1.59c1.81,3.66,6.08,6.23,9.94,8.19a186.69,186.69,0,0,0-3.5,18.58c5.82-1.07,12.71-2.16,20.94-3.37,1.18-3.08,2.18-6.24,5-7.57,2.36-1.1,5.16-.46,7.69-1.08,4.75-1.17,7.23-6.28,9.08-10.82q2.42-5.91,4.82-11.83a54.89,54.89,0,0,0,2-5.47c-6.76-3.28-12.87-8.69-20-11.2C277.52,234.07,262.82,229.64,255.25,235.86Z"/>
            <path class="cls-17" d="M682.45,236.32c-1.27,1.45-1.91,4.06-2.21,7.13Z"/>
            <polyline class="cls-17" points="621.91 773.94 614.13 770.97 613.57 774.23 611.73 785.08 618.45 790.01"/>
            <polyline class="cls-17" points="624.86 794.7 631.58 799.62 644.28 790.62 635.27 777.92 634.39 777.28 633.82 778.51 626.04 775.53"/>
            <polyline class="cls-17" points="622.14 768.31 615.41 763.38 614.13 770.97 621.91 773.94"/>
            <polyline class="cls-17" points="626.04 775.53 633.82 778.51 634.39 777.28 627.67 772.36"/>
            <path class="cls-17" d="M769.86,493.93V485.6l-1.55.28s-2.61-.29-6.72-.7"/>
            <path class="cls-18" d="M741.9,483.44c-7.62-.57-15.46-1-21.37-1h-.31c-2.64,0-5.29.08-7.93.19"/>
            <path class="cls-17" d="M702.42,483.25c-2.76.21-5.53.47-8.29.77l-2.63,4.9-1.31,2.44"/>
            <polyline class="cls-19" points="682.21 506.26 643.29 578.91 649.21 624.13 617.06 754.25"/>
            <polyline class="cls-17" points="615.03 762.46 613.03 770.54 614.13 770.97 615.41 763.38 622.14 768.31"/>
            <polyline class="cls-17" points="627.67 772.36 634.39 777.28 637.93 769.74"/>
            <line class="cls-20" x1="645.62" y1="753.36" x2="703.24" y2="630.49"/>
            <polyline class="cls-17" points="707.09 622.3 710.62 614.75 711.18 623.07"/>
            <line class="cls-21" x1="712.25" y1="639.1" x2="720.3" y2="759.38"/>
            <polyline class="cls-17" points="720.83 767.4 721.39 775.71 721.51 775.71 721.53 773.29 729.86 773.37"/>
            <polyline class="cls-17" points="733.79 773.41 742.12 773.5 743.41 765.26"/>
            <polyline class="cls-22" points="745.89 749.37 770.02 595.07 769.88 501.97"/>
            <polyline class="cls-17" points="729.84 775.79 721.51 775.71 721.42 784.29 728.84 788.09"/>
            <polyline class="cls-17" points="735.91 791.72 743.32 795.52 754.44 784.62 743.54 773.51 742.12 773.5 741.74 775.91 733.41 775.83"/>
            <polyline class="cls-17" points="729.86 773.37 721.53 773.29 721.51 775.71 729.84 775.79"/>
            <polyline class="cls-17" points="733.41 775.83 741.74 775.91 742.12 773.5 733.79 773.41"/>
            <path class="cls-17" d="M733.7,239.87c0,.1,0,.21.07.31a16.18,16.18,0,0,1-.55,7.92,29.67,29.67,0,0,0,4.65,1.82,18.12,18.12,0,0,0,3.28.6"/>
            <path class="cls-23" d="M756.76,247.84q1-.37,1.89-.78c7.27-3.22,12-14.74,16.75-20.7a46,46,0,0,1,4.2-4.62c3.27-3.11,7.14-5.63,9.91-9.19s4.25-8.68,2-12.59c-1.45-2.52-4.15-4-6.81-5.21a54.08,54.08,0,0,0-28.13-4.21c-9.07,1.09-17.41,3.76-25.82-.69-7.9-4.19-14.06-3.71-23.14-1.75-9.83,2.12-22.54,1.27-31.66,4.89a25.16,25.16,0,0,0-9.7,7.35,38.08,38.08,0,0,0-5.33,39.94,54,54,0,0,0,4.91,8.19l.61.86"/>
            <path class="cls-17" d="M671.21,255.72a31.28,31.28,0,0,0,6,5.75,8.35,8.35,0,0,1-.89-3.44,14.08,14.08,0,0,1,.83-4.66"/>
            <path class="cls-24" d="M682,237a4.08,4.08,0,0,1,.5-.69l1.32-4.25a19.18,19.18,0,0,1,3.14-6.79c2.82-3.39,7.58-4.41,12-4.59,11.24-.47,22.9,3.47,30.48,11.78l.08.08"/>
            <path class="cls-17" d="M680,251.78a73.28,73.28,0,0,1,.22-8.33q-1.25,4-2.47,8"/>
            <path class="cls-17" d="M676.41,256.49a8.79,8.79,0,0,0-.08,1.54,8.35,8.35,0,0,0,.89,3.44,17.25,17.25,0,0,0,2.79,1.59,57,57,0,0,0,.08-8.33"/>
            <path class="cls-17" d="M685.06,228.4a37.14,37.14,0,0,0-1.29,3.67l-1.32,4.25a4.06,4.06,0,0,1,.47-.46,14.19,14.19,0,0,1,7-2.9"/>
            <path class="cls-25" d="M702.66,233.81a89.69,89.69,0,0,1,10.55,3.09,41,41,0,0,1,7.39,3.6"/>
            <path class="cls-17" d="M726,243.92a71.82,71.82,0,0,0,7.2,4.18,16.18,16.18,0,0,0,.55-7.92c0-.1,0-.21-.07-.31"/>
            <path class="cls-26" d="M720.69,225.67a41.73,41.73,0,0,0-21.8-5,23.79,23.79,0,0,0-6.85,1.18"/>
            <path class="cls-17" d="M603.93,623.26a8.82,8.82,0,0,1-2.21-6.22A8.82,8.82,0,0,0,603.93,623.26Z"/>
            <path class="cls-17" d="M666.18,426l.35-.31a1.5,1.5,0,0,1,2.1.13l3.66,4.15,4.58-4-5-5.72a3.16,3.16,0,0,1-.4-.58"/>
            <path class="cls-17" d="M671.84,416.37a3,3,0,0,1,.25-.25l7.51-2.68a9.33,9.33,0,0,0-7.63-2.6"/>
            <polyline class="cls-17" points="651.49 418.41 643.71 421.39 647.54 428.8"/>
            <polyline class="cls-17" points="648.57 430.78 652.39 438.18 658.64 432.67"/>
            <polygon class="cls-17" points="671.54 466.88 668.65 463.61 666.35 464.45 671.54 466.88"/>
            <polygon class="cls-17" points="658.55 459.62 666.23 460.85 659.48 453.21 656.76 457.06 658.55 459.62"/>
            <path class="cls-17" d="M710,453.9a9.31,9.31,0,0,0-1.63-7.9l-3.59,7.12-.28.22"/>
            <path class="cls-17" d="M701.06,453.32a2.81,2.81,0,0,1-.52-.46l-5-5.72-4.5,4.05,3.66,4.15a1.5,1.5,0,0,1-.13,2.1l-.35.31"/>
            <path class="cls-17" d="M682.44,468.09,678,472a1.5,1.5,0,0,1-2.1-.13l-.08-.09,1.24,2.62L673,481.66"/>
            <polyline class="cls-17" points="671.42 482.95 663.75 486.19 656.94 481.38"/>
            <polyline class="cls-17" points="653.44 474.86 651.59 470.86 649.21 467.74 646.5 471.58 641.23 465.12"/>
            <polyline class="cls-27" points="634.13 456.42 632.79 454.77 623.48 443.36"/>
            <polyline class="cls-17" points="619.93 439.01 618.52 437.29 614.66 432.55 606.88 435.54"/>
            <path class="cls-28" d="M591.19,441.57l-96.68,37.12-.07,0a10.21,10.21,0,0,0-3.75,16.17,8.88,8.88,0,0,0,5.91,3L601,504.64c4.57,0,7.63,3.21,7,8l-4.9,81.1"/>
            <path class="cls-17" d="M602.62,602.08l-.5,8.32a14,14,0,0,0,8.17-.91"/>
            <path class="cls-29" d="M623.25,598.85c4.1-4.68,11.66-13.58,19.48-24.23a227,227,0,0,0,17-26.41l31.76-59.29,2.63-4.9,12.07-22.54"/>
            <path class="cls-30" d="M625.3,586.17a4.81,4.81,0,1,1,0-6.8A4.8,4.8,0,0,1,625.3,586.17Z"/>
            <path class="cls-31" d="M630.57,566.1a4.81,4.81,0,1,1,0-6.8A4.81,4.81,0,0,1,630.57,566.1Z"/>
            <path class="cls-32" d="M635.83,546a4.81,4.81,0,1,1,0-6.8A4.81,4.81,0,0,1,635.83,546Z"/>
            <path class="cls-33" d="M656.19,491.23l-.08.09-16.5,14.55a1.5,1.5,0,0,1-2.1-.13l-2.46-2.8-2-2.26-17-19.31-4.53-5.13a1.5,1.5,0,0,1,.13-2.1l4.91-4.33,11.59-10.22a1.5,1.5,0,0,1,2.1.13l1.45,1.65,24.57,27.85A1.49,1.49,0,0,1,656.19,491.23Z"/>
            <polyline class="cls-17" points="655.81 555.55 659.74 548.2 659.74 548.21 655.81 555.55"/>
            <polyline class="cls-17" points="647.23 571.56 643.29 578.91 647.23 571.56"/>
            <path class="cls-17" d="M658.64,432.67l-6.25,5.51,1.44,2.78,11.52,0-2.51-2.84,9.45-8.16-3.66-4.15a1.49,1.49,0,0,0-2.1-.13l-.35.31"/>
            <polyline class="cls-17" points="681.3 469.1 687.54 463.59 686.27 455.45 681.72 459.55 676.21 453.3"/>
            <polyline class="cls-17" points="670.86 447.24 665.35 440.99 653.83 440.96 659.87 452.66 659.48 453.21 666.22 460.85 668.36 461.2 669.08 463.45 668.65 463.61 671.54 466.88 674.12 468.09 674.59 469.1"/>
            <path class="cls-17" d="M694.17,457.75l.35-.31a1.5,1.5,0,0,0,.13-2.1L691,451.19l-4.72,4.26,1.27,8.14,6.25-5.51"/>
            <path class="cls-33" d="M656.24,489.22l-24.57-27.85-1.45-1.65a1.5,1.5,0,0,0-2.1-.13l-11.59,10.22-4.91,4.33a1.5,1.5,0,0,0-.13,2.1l4.53,5.13,17,19.31,2,2.26,2.46,2.8a1.5,1.5,0,0,0,2.1.13l16.5-14.55.08-.09A1.49,1.49,0,0,0,656.24,489.22Z"/>
            <polyline class="cls-17" points="642.21 487.25 647.72 493.5 644.19 496.61 641.93 498.61 641.6 498.24 636.41 492.36"/>
            <polyline class="cls-17" points="624.63 479 619.12 472.75 624.91 467.64 629.68 473.05 630.42 473.89"/>
            <path class="cls-17" d="M920,220.64a3.71,3.71,0,0,0,2.68,6.13l-.85-2.89,2.28-.67.85,2.87.34-.25a3.72,3.72,0,0,0-1.47-6.34"/>
            <path class="cls-17" d="M924.92,226.08a3.67,3.67,0,0,1-2.28.69l.76,2.58,2.22-.89Z"/>
            <path class="cls-17" d="M924.07,223.21l-2.28.67.85,2.89a3.67,3.67,0,0,0,2.28-.69Z"/>
            <path class="cls-17" d="M910.68,224.08a3.72,3.72,0,0,0,.06,4.91,3.68,3.68,0,0,0,2.63,1.22l-.86-2.9,2.28-.67.85,2.87a2.8,2.8,0,0,0,.35-.25,3.71,3.71,0,0,0-1.47-6.33"/>
            <path class="cls-17" d="M915.64,229.51a3.65,3.65,0,0,1-2.27.7l.83,2.81,2.22-.89Z"/>
            <path class="cls-17" d="M914.79,226.64l-2.28.67.86,2.9a3.65,3.65,0,0,0,2.27-.7Z"/>
            <path class="cls-17" d="M901.19,227.71a3.71,3.71,0,0,0,2.68,6.13l-.85-2.9,2.28-.67.85,2.88c.11-.09.23-.16.34-.26a3.71,3.71,0,0,0-1.47-6.33"/>
            <path class="cls-17" d="M906.15,233.15a3.73,3.73,0,0,1-2.28.69l.87,2.95,2.22-.88Z"/>
            <path class="cls-17" d="M905.3,230.27l-2.28.67.85,2.9a3.73,3.73,0,0,0,2.28-.69Z"/>
            <path class="cls-17" d="M891.89,231.56a3.7,3.7,0,0,0,2.68,6.13l-.85-2.89,2.28-.67.85,2.87.34-.25a3.72,3.72,0,0,0-1.47-6.34"/>
            <path class="cls-17" d="M896.85,237a3.67,3.67,0,0,1-2.28.69l.83,2.82,2.22-.88Z"/>
            <path class="cls-17" d="M896,234.13l-2.28.67.85,2.89a3.67,3.67,0,0,0,2.28-.69Z"/>
            <path class="cls-17" d="M882,235.57a3.71,3.71,0,0,0,2.68,6.13l-.85-2.89,2.28-.68L887,241a3.85,3.85,0,0,0,.34-.26,3.72,3.72,0,0,0-1.47-6.33"/>
            <path class="cls-17" d="M887,241a3.73,3.73,0,0,1-2.28.69l.81,2.75,2.22-.89Z"/>
            <path class="cls-17" d="M886.15,238.13l-2.28.68.85,2.89A3.73,3.73,0,0,0,887,241Z"/>
            <path class="cls-17" d="M872.29,240.14a3.72,3.72,0,0,0,2.68,6.14l-.85-2.9,2.28-.67.85,2.87.34-.25a3.72,3.72,0,0,0-1.47-6.34"/>
            <path class="cls-17" d="M877.25,245.58a3.74,3.74,0,0,1-2.28.7l.63,2.13,2.22-.89Z"/>
            <path class="cls-17" d="M876.4,242.71l-2.28.67.85,2.9a3.74,3.74,0,0,0,2.28-.7Z"/>
            <path class="cls-17" d="M773.07,377.23l3.33-3-5.26-1.52C771.75,374.23,772.4,375.73,773.07,377.23Z"/>
            <path class="cls-17" d="M874.29,286l6.19-5.58,0,0-4.27-4.85-1.24-1.4"/>
            <polyline class="cls-17" points="870.85 269.57 865.34 263.32 859.03 268.76"/>
            <polyline class="cls-34" points="846.37 279.69 786.02 331.8 764.33 350.52 746.78 365.68 692.62 412.43 684.75 419.23 676.88 426.03 675.48 427.24"/>
            <polyline class="cls-17" points="669.15 432.7 662.84 438.14 665.35 440.99 668.35 444.39"/>
            <polyline class="cls-17" points="676.21 453.3 681.72 459.55 686.27 455.44 687.91 453.97"/>
            <polyline class="cls-35" points="699.19 443.8 699.51 443.51 702.21 441.08 703.22 440.17 710.95 433.21 761.24 387.89"/>
            <path class="cls-17" d="M766.88,382.8l6.19-5.57c-.67-1.5-1.32-3-1.93-4.53l5.26,1.52,6.19-5.58"/>
            <line class="cls-36" x1="795.1" y1="357.37" x2="838.87" y2="317.93"/>
            <polyline class="cls-17" points="845.12 312.29 851.31 306.72 850.38 306.71 843.64 298.25 851.11 286.93 853.55 286.69 865.49 285.53 866.41 293.11 872.6 287.54"/>
            <polygon class="cls-17" points="684.17 442.05 684.44 443.76 684.44 443.76 684.17 442.05"/>
            <path class="cls-17" d="M671.43,419.73a3.16,3.16,0,0,0,.4.58l5,5.72,6.31-5.44"/>
            <path class="cls-17" d="M686.32,417.88l6.3-5.45L691.36,411a3,3,0,0,0-4.19-.26l-1.67.6"/>
            <path class="cls-17" d="M711.15,440.41l.79-1.58a3,3,0,0,0,.27-4.2L711,433.21l-6.19,5.57"/>
            <path class="cls-17" d="M701.68,441.56l-2.17,1.95-4,3.63,5,5.72a2.81,2.81,0,0,0,.52.46"/>
            <path class="cls-17" d="M906.88,274.43a9.67,9.67,0,0,1-1.15.34A9.67,9.67,0,0,0,906.88,274.43Z"/>
            <path class="cls-17" d="M904.71,275c-1.31.27-3,.55-4.8.86C901.75,275.55,903.4,275.27,904.71,275Z"/>
            <path class="cls-17" d="M899.91,275.86l-3,.49Z"/>
            <path class="cls-17" d="M866.38,254.92a7,7,0,0,0-.28,1.22c-.36,2.55-.67,5-.9,7l.14.16,10.83,12.28a50.3,50.3,0,0,1,7.94-2.5"/>
            <path class="cls-17" d="M899.82,271.88a34.3,34.3,0,0,1,8.12,1.78q2.64-3.5,5.18-6.52"/>
            <path class="cls-37" d="M923.5,256a83.51,83.51,0,0,1,18.22-13.74c4.81-2.58,5.12-9.52.53-13.18a24.33,24.33,0,0,0-4-2.56,7.9,7.9,0,0,0-6.57-.43l-6.07,2.42-2.22.89-7,2.78-2.22.89L907,235.91l-2.22.88-7.12,2.84-2.22.88-7.65,3.06-2.22.88-7.71,3.07-2.22.89-3.85,1.53"/>
            <path class="cls-38" d="M881.85,254.27a2.87,2.87,0,1,1-4.05-.26A2.87,2.87,0,0,1,881.85,254.27Z"/>
            <path class="cls-39" d="M891.06,253.79a2.87,2.87,0,1,1,.26-4A2.87,2.87,0,0,1,891.06,253.79Z"/>
            <path class="cls-40" d="M900.54,249.26a2.87,2.87,0,1,1,.25-4A2.88,2.88,0,0,1,900.54,249.26Z"/>
            <path class="cls-41" d="M910,244.74a2.87,2.87,0,1,1,.25-4.05A2.87,2.87,0,0,1,910,244.74Z"/>
            <path class="cls-42" d="M919.48,240.21a2.87,2.87,0,1,1,.25-4.05A2.87,2.87,0,0,1,919.48,240.21Z"/>
            <path class="cls-43" d="M929,235.68a2.87,2.87,0,1,1,.25-4.05A2.87,2.87,0,0,1,929,235.68Z"/>
            <path class="cls-44" d="M925.15,231.38a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,925.15,231.38Z"/>
            <path class="cls-45" d="M915.68,235.91a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,915.68,235.91Z"/>
            <path class="cls-46" d="M906.21,240.43a2.87,2.87,0,1,0,4,.26A2.87,2.87,0,0,0,906.21,240.43Z"/>
            <path class="cls-47" d="M896.74,245a2.87,2.87,0,1,0,4,.25A2.88,2.88,0,0,0,896.74,245Z"/>
            <path class="cls-48" d="M887.27,249.49a2.87,2.87,0,1,0,4.05.25A2.87,2.87,0,0,0,887.27,249.49Z"/>
            <path class="cls-49" d="M877.8,254a2.87,2.87,0,1,0,4.05.26A2.87,2.87,0,0,0,877.8,254Z"/>
            <path class="cls-50" d="M635.83,546a4.81,4.81,0,1,0-6.81,0A4.81,4.81,0,0,0,635.83,546Z"/>
            <path class="cls-51" d="M630.57,566.1a4.81,4.81,0,1,0-6.81,0A4.81,4.81,0,0,0,630.57,566.1Z"/>
            <path class="cls-52" d="M625.3,586.17a4.81,4.81,0,1,0-6.8,0A4.81,4.81,0,0,0,625.3,586.17Z"/>
            <path class="cls-17" d="M891.49,277.33q-1.11.21-2.19.45Q890.38,277.54,891.49,277.33Z"/>
            <path class="cls-17" d="M907.29,274.26a1.13,1.13,0,0,0,.42-.3l.23-.3a3.55,3.55,0,0,0-.23.31A1.26,1.26,0,0,1,907.29,274.26Z"/>
            <path class="cls-17" d="M880.48,280.43a29.47,29.47,0,0,1,3.35-1.23,29.47,29.47,0,0,0-3.35,1.23Z"/>
            <path class="cls-17" d="M905,274.94l-.3.06Z"/>
            <path class="cls-17" d="M880.44,280.45l-4.27-4.85h0l4.27,4.85,0,0h0Z"/>
            <path class="cls-17" d="M884.11,273.1a50.3,50.3,0,0,0-7.94,2.5l4.27,4.85,0,0a30.19,30.19,0,0,1,3.35-1.23c.41-.13.82-.26,1.24-.37,1.07-.31,2.18-.59,3.32-.85"/>
            <path class="cls-17" d="M900,275.84c1.79-.3,3.39-.57,4.67-.84l.29-.06a11.41,11.41,0,0,0,2.29-.68,1.26,1.26,0,0,0,.42-.29,3.55,3.55,0,0,1,.23-.31,34.3,34.3,0,0,0-8.12-1.78"/>
            <path class="cls-17" d="M602.12,610.4l-.12,2Z"/>
            <path class="cls-17" d="M623.22,616.38l-2.76,5.15,0,0a10.3,10.3,0,0,1-1.45,2,10.3,10.3,0,0,0,1.45-2l0,0,2.76-5.15"/>
            <line class="cls-53" x1="628.47" y1="606.58" x2="636.35" y2="591.88"/>
            <polyline class="cls-17" points="638.97 586.98 642.91 579.63 638.97 586.98"/>
            <line class="cls-54" x1="633.72" y1="596.78" x2="625.84" y2="611.48"/>
            <path class="cls-17" d="M610.29,609.49a14,14,0,0,1-8.17.91l-.12,2-.28,4.64a9.31,9.31,0,0,0,.09,1.67"/>
            <path class="cls-55" d="M612,626.71l.58-.05a10,10,0,0,0,6.37-3.12,10.3,10.3,0,0,0,1.45-2l0,0,22.45-41.9.38-.72,9.17-17.11"/>
            <path class="cls-17" d="M655.81,555.55l3.93-7.35c-1.29,2.42-2.67,4.84-4.12,7.24"/>
            <path class="cls-56" d="M647.89,567.39c-1.71,2.48-3.44,4.9-5.16,7.23-11.61,15.8-22.63,27.75-22.63,27.75a40.86,40.86,0,0,1-3.74,3.45"/>
            <polyline class="cls-17" points="673.02 481.66 677.09 474.39 675.85 471.77 671.54 466.88 666.35 464.45 668.65 463.61 666.22 460.85 658.55 459.62 656.76 457.06 649.21 467.74 651.59 470.86 653.44 474.86"/>
            <polyline class="cls-17" points="656.94 481.38 663.75 486.19 671.42 482.95"/>
            <polygon class="cls-17" points="669.08 463.45 668.36 461.2 666.22 460.85 668.65 463.61 669.08 463.45"/>
            <polygon class="cls-17" points="671.54 466.88 675.85 471.77 674.12 468.09 671.54 466.88"/>
            <polygon class="cls-17" points="866.43 296.01 866.71 295.63 866.41 293.11 864.64 294.71 866.43 296.01"/>
            <polyline class="cls-17" points="857.5 301.14 851.31 306.72 858.49 306.79 866.43 296.01 864.64 294.71 858.45 300.29"/>
            <polygon class="cls-17" points="853.55 286.69 864.64 294.71 866.41 293.11 865.49 285.53 853.55 286.69"/>
            <polyline class="cls-17" points="858.45 300.29 864.64 294.71 853.55 286.69 851.11 286.93 843.64 298.25 850.38 306.71 851.31 306.72 856.81 301.77"/>
            <polyline class="cls-17" points="630.42 473.89 629.68 473.05 624.91 467.64 619.12 472.75 624.63 479"/>
            <polyline class="cls-17" points="636.41 492.36 641.6 498.24 641.93 498.61 644.19 496.61 647.72 493.5 642.21 487.25"/>
            <polyline class="cls-17" points="861.89 303.01 866.71 296.21 866.43 296.01 858.49 306.79 851.31 306.72 850.45 307.49"/>
            <line class="cls-57" x1="836.88" y1="319.72" x2="789.38" y2="362.53"/>
            <polyline class="cls-17" points="782.59 368.64 776.4 374.22 784.41 376.53"/>
            <polyline class="cls-17" points="797.51 380.31 805.51 382.61 810.33 375.81"/>
            <line class="cls-58" x1="820.64" y1="361.25" x2="856.74" y2="310.29"/>
            <path class="cls-17" d="M776.77,384.69c-1.32-2.44-2.56-4.93-3.7-7.46l-6.19,5.57"/>
            <line class="cls-59" x1="756.93" y1="391.77" x2="722.11" y2="423.15"/>
            <path class="cls-17" d="M717.14,427.63,711,433.21l1.26,1.42a3,3,0,0,1-.27,4.2l-1.14,2.27-2,3.88-.52,1a9.31,9.31,0,0,1,1.63,7.9"/>
            <line class="cls-60" x1="706.16" y1="461.56" x2="700.09" y2="472.9"/>
            <path class="cls-17" d="M698.06,476.67,694.13,484c2.76-.3,5.53-.56,8.29-.77"/>
            <path class="cls-61" d="M720,482.47h.53c16.42-.08,47.77,3.41,47.77,3.41l1.55-.28c8.63-1.54,16.94-4.41,25.25-7.09,15.15-4.89,30.62-9.17,44.86-16.08,4.57-2.22,17.18-8.78,12.76-14.88-3.35-4.62-14.85-7.8-20-10.67a177.23,177.23,0,0,1-32.36-22.42,111.65,111.65,0,0,1-19.07-22.21"/>
            <polyline class="cls-17" points="779.71 337.25 786.02 331.8 779.09 327.17"/>
            <path class="cls-62" d="M766.52,318.75l-13.75-9.2c-16.41-15.71-23.26-28.28-45.85-25l-2.31.33c-8.24,1.21-15.13,2.3-20.94,3.37a122.09,122.09,0,0,0-17.81,4.35"/>
            <path class="cls-17" d="M659,295.72a23.05,23.05,0,0,0-6.28,5.4v0l-.3.38-4.92,6.12"/>
            <line class="cls-63" x1="635.15" y1="322.94" x2="592" y2="376.65"/>
            <polyline class="cls-17" points="585.83 384.32 580.62 390.81 585.88 397.27"/>
            <polyline class="cls-64" points="596.95 410.84 614.66 432.55 618.52 437.29 632.79 454.77 635.7 458.34"/>
            <polyline class="cls-17" points="641.23 465.12 646.5 471.58 649.21 467.74 651.31 464.78"/>
            <polyline class="cls-17" points="655.06 459.47 656.76 457.06 659.48 453.21 659.87 452.66 656.05 445.26"/>
            <polyline class="cls-17" points="647.54 428.8 643.71 421.39 651.49 418.41"/>
            <path class="cls-17" d="M672,410.84a9.33,9.33,0,0,1,7.63,2.6l7.57-2.7a3,3,0,0,1,4.19.26l1.26,1.43,6.31-5.44"/>
            <polyline class="cls-65" points="710.47 397.02 746.78 365.68 764.33 350.52 773.94 342.23"/>
            <path class="cls-17" d="M680.09,254.73a57,57,0,0,1-.08,8.33,17.25,17.25,0,0,1-2.79-1.59c1.81,3.66,6.08,6.23,9.95,8.19-.55,1.93-1.19,4.92-1.78,8.13"/>
            <path class="cls-17" d="M685,280c-.52,2.91-1,5.84-1.32,8.23,2.52-.47,5.25-.94,8.21-1.42"/>
            <path class="cls-17" d="M696.36,286.11q3.89-.6,8.25-1.24c1-2.74,1.95-5.54,4.15-7.07"/>
            <path class="cls-66" d="M719.57,275.3c3.35-2,5.31-6.13,6.85-9.9l1.75-4.3"/>
            <path class="cls-17" d="M730.29,255.89c.31-.77.63-1.55,1-2.32a54.83,54.83,0,0,0,2-5.47,71.82,71.82,0,0,1-7.2-4.18"/>
            <path class="cls-67" d="M714.64,237.44c-.47-.19-.95-.37-1.43-.54-8-2.83-22.72-7.26-30.29-1a4.06,4.06,0,0,0-.47.46l-2.21,7.13c-.15,1.5-.22,3.1-.23,4.73"/>
          </g>
        </g>
      </g>
    </svg>
  </div>

</div>

