body {
  margin: 0;
}

[v-cloak] { display:none; }

.playlists-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.playlists-cta {
  background: url("/images/blob.svg");
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
}

.playlists-cta-text {
  font-weight: 400;
  font-size: 3rem;
  width: 60%;
  grid-row: 2;
}


.playlists-list-wrapper {
  background: #000E0F;
  overflow: scroll;
}

.playlists-list {
  list-style: none;
}

.playlist {
  padding: .5rem 0 .5rem 0;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}

.playlist a {
  text-decoration: none;
  color: #ffffff;
}

.playlist:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -2rem;
  right: 0;
  bottom: 0;
  background: #12e4d5;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.playlist:hover, .playlist:focus, .playlist:active {
  color: white;
}
.playlist:hover:before, .playlist:focus:before, .playlist:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.blob {
  display: none;
}

.loading-screen {
  display: grid;
  justify-items: center;
}

.loading-title {
  color: #ffffff;
  font-size: 1.5rem;
}

.loading-record-wrapper {
  display: grid;
  justify-items: center;
}

.loading-record {
  width: 50%;
  animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .playlists-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr;
    width: 100vw;
  }

  .playlists-cta {
    grid-template-rows: 1fr;
    justify-items: left;
    background: none;
  }

  .playlists-cta-text {
    grid-row:1;
    padding-left: 2rem;
    position: relative;
    font-size: 5rem;
    width: 90%;
  }

  .blob {
    display: inline-block;
    z-index: -1;
    width: 60%;
    position: absolute;
    right: 0;
  }

  .cls-blob {
    fill:#12e4d5;
    }

  .playlists-list-wrapper {
    overflow: visible;
  }

  .playlist {
    font-size: 4rem;
    padding: 2rem 0 2rem 0;
  }
}


@media (max-width: 670px) {
  .blob {
    width: 90%;
  }
}


//Duplicate Tracks Section
.duplicates-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  position: relative;
  height: 100vh;
}

.duplicates-section-wrapper {
  margin: 2rem 0 1rem 2rem;
}

.playlist-title {
  color: #12E4D5;
  font-weight: 600;
  font-size: 4rem;
  margin: 0;
  grid-row: 1;
}

.duplicate-title {
  font-weight: 500;
  grid-row: 2;
  font-size: 1.5rem;
}

.duplicates-list {
  list-style: none;
  padding: 0;
  grid-row: 2;
  margin-bottom: 3rem;
}

.duplicates {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.duplicates a {
  color: #000E0F;
  text-decoration: none;
}

.remove-button {
  background: #12e4d5;
  color: #ffffff;
  border: none;
  grid-row: 3;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}

/* Bounce To Right */
.remove-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #353a85;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.remove-button:hover, .remove-button:focus, .remove-button:active {
  color: white;
  cursor: pointer;
}
.remove-button:hover:before, .remove-button:focus:before, .remove-button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.duplicate-actions {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2rem;
}

.duplicate-actions:hover {
  cursor: pointer;
}

.duplicate-actions:hover .cls-line {
  stroke:#353a85;
}

.duplicate-actions:hover .cls-point {
  fill:#353a85;
}

.arrow-svg {
  width: 5%;
  margin-right: .5rem;
}

.cls-line {
  fill:none;
  stroke:#12e4d5;
  stroke-miterlimit:10;
  stroke-width:4px;
}
.cls-point {
  fill:#12e4d5;
}


.duplicates-image {
  display: grid;
  justify-items: center;
  align-items: center;
  opacity: .6;
}

.cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10,
.cls-11, .cls-13, .cls-13, .cls-14, .cls-15, .cls-16,
.cls-17, .cls-19, .cls-19, .cls-20, .cls-21, .cls-22,
.cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28,
.cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34,
.cls-35, .cls-36, .cls-37, .cls-38, .cls-39, .cls-40,
.cls-41, .cls-42, .cls-43, .cls-44, .cls-45, .cls-46,
.cls-47, .cls-48, .cls-49, .cls-50, .cls-51, .cls-52,
.cls-53, .cls-54 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8s linear infinite;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 1000px) {
  .duplicates-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
    height: auto;
  }

  .playlist-title {
    font-size: 5rem;
  }

  .duplicate-title {
    font-size: 3.5rem;
  }

  .duplicates {
    font-size: 3rem;
    padding: 1.5rem 0 1.5rem 0;
    font-weight: 300;
  }

  .remove-button {
    font-size: 3rem;
  }

  .duplicate-actions {
    position: relative;
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .duplicates-image {
    display: none;
  }
}
