<div class="playlists-wrapper">
  <div class="playlists-cta">
    <h2 class="playlists-cta-text">Click on a playlist to see if it contains any duplicated songs.</h2>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999.27 771.58" class="blob">
          <path class="cls-blob" d="M975.57,713.89C1074.93,530.24,841.5,144.63,652.85,42.56S153,31.43,53.63,215.09-33.43,566.17,320.48,577.64C533.69,584.55,876.2,897.55,975.57,713.89Z"/>
    </svg>
  </div>
  <div class="playlists-list-wrapper">
    <div class="loading-screen">
      <p class="loading-title">Grabbing Your Playlists</p>
      <div class="loading-record-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 493 492.99" class="loading-record">
          <defs>
            <style>
              .cls-grey-outline{fill:#48493f;}
              .cls-white-lines{fill:#fff;fill-rule:evenodd;}
              .cls-center-color{fill:#23e5d6;}
              .cls-center-details{fill:#eaeaea;}
            </style>
          </defs>
          <title>record</title>
          <g id="record">
            <path id="grey-outline" class="cls-grey-outline" d="M493,246.5C493,382.63,382.64,493,246.5,493S0,382.63,0,246.5,110.37,0,246.5,0,493,110.36,493,246.5Z"/>
            <path id="record-dark" class="cls-record-fill" d="M485.86,246.5c0,132.19-107.17,239.35-239.36,239.35S7.15,378.69,7.15,246.5,114.31,7.14,246.5,7.14,485.86,114.31,485.86,246.5Z"/>
            <path id="white-lines" class="cls-white-lines" d="M184,348.5h0c-38.62-23.58-60.92-66.4-66.48-118,7.79,49.07,31.08,89.89,69.36,113.26a136.61,136.61,0,0,0,59.94,19.32v3.8C224.27,366,203,360.08,184,348.5Zm-9.65,15.81h0c-42.08-25.69-67.54-70.43-75.51-123.49,10.25,50.57,36.68,93.31,78.39,118.76a160.25,160.25,0,0,0,69.59,22.7v3.65c-25.77-1.15-50.41-8.15-72.47-21.62Zm-9.66,15.81h0C120.28,353,92.72,307,83.14,253,95,304.53,123.56,348.54,167.55,375.4a177.33,177.33,0,0,0,79.24,25.32v3.42c-29.06-.95-57.06-8.71-82.13-24ZM155,395.94h0c-46.4-28.33-75.8-75.48-86.79-130.38,13.32,52.45,43.69,97.58,89.67,125.65A193,193,0,0,0,246.79,419v3.16c-32.33-.6-63.7-9.05-91.78-26.19Zm-9.65,15.81h0c-48.7-29.73-80.21-78.16-92.81-134,15,53.44,47.42,99.86,95.69,129.33a211.09,211.09,0,0,0,98.55,30.5v3c-35.52-.45-70.28-9.71-101.43-28.73Zm-9.66,15.81h0c-51-31.13-84.61-80.85-98.82-137.72C53.48,344.29,88,392,138.59,422.84a229.58,229.58,0,0,0,108.2,33.32v2.75A215.16,215.16,0,0,1,135.7,427.56Zm-9.65,15.82h0C73,411,37.58,360.17,22,302.44c18,55.32,54.42,104.13,107,136.21a246.29,246.29,0,0,0,117.86,35.92v2.52a230.79,230.79,0,0,1-120.74-33.71Zm183.72-301h0c-38.62-23.58-86.9-23.84-135.32-5.21,47.2-15.5,94.16-13.44,132.44,9.93,34.2,20.89,56.44,55.7,66.34,97.89h.82c-8-44.68-29.57-81.42-64.28-102.61Zm9.65-15.81h0c-42.07-25.69-93.5-27.88-144.34-10.72,49.66-14,99.76-10,141.46,15.44,40.3,24.6,66.35,65.34,77.3,113.7h.27c-8.8-50.84-34-93.56-74.69-118.42Zm9.66-15.82h0C284.7,83.7,231.16,80.22,178.71,96.4c51.31-13,103.5-7.74,147.48,19.12S398.71,186.38,410.6,238c-9.58-54.05-37.14-100.08-81.52-127.17ZM338.73,95h0C292.34,66.66,237,62.05,183.1,77.37c52.74-12.12,106.76-5.74,152.75,22.33s76.35,73.21,89.67,125.66c-11-54.91-40.39-102.06-86.79-130.38Zm9.65-15.81h0C299.69,49.44,242.21,43.55,186.74,57.89c54.38-11.13,110.49-3.47,158.76,26s80.73,75.88,95.69,129.33c-12.6-55.89-44.11-104.33-92.81-134ZM358,63.35h0c-51-31.13-110.59-38.3-167.67-25,56-10.12,114.23-1.18,164.78,29.68s85.11,78.55,101.71,133C442.65,144.21,409,94.49,358,63.35Zm9.65-15.81h0c-53-32.37-114.44-40.66-172.93-28.17,57.45-9.24,117.5.81,170.05,32.89s88.93,80.89,107,136.22C456.16,130.75,420.71,79.9,367.69,47.54Z"/>
            <path id="center-color" class="cls-center-color" d="M345.67,246.5a99.17,99.17,0,1,1-99.17-99.17A99.15,99.15,0,0,1,345.67,246.5Z"/>
            <path id="center-outline" class="cls-center-details" d="M246.5,154.76a91.74,91.74,0,1,0,91.74,91.74A91.74,91.74,0,0,0,246.5,154.76Zm0,177.52a85.78,85.78,0,1,1,85.78-85.78A85.78,85.78,0,0,1,246.5,332.28Z"/>
            <path id="center" class="cls-center-details" d="M259.91,246.5a13.41,13.41,0,1,1-13.41-13.41A13.41,13.41,0,0,1,259.91,246.5Z"/>
          </g>
        </svg>
      </div>
    </div>
    <ul class="playlists-list">
      <% @playlists.each do |playlist| %>
        <li class="playlist">
          <a href="/playlist/<%= playlist.id %>"><%= playlist.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>


