<div class="playlists-wrapper">
  <div class="playlists-cta">
    <h2 class="playlists-cta-text">Click on a playlist to see if it contains any duplicated songs.</h2>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999.27 771.58" class="blob">
          <path class="cls-blob" d="M975.57,713.89C1074.93,530.24,841.5,144.63,652.85,42.56S153,31.43,53.63,215.09-33.43,566.17,320.48,577.64C533.69,584.55,876.2,897.55,975.57,713.89Z"/>
    </svg>
  </div>
  <div class="playlists-list-wrapper">
    <ul class="playlists-list">
      <% @playlists.each do |playlist| %>
        <li class="playlist">
          <a href="/playlist/<%= playlist.id %>"><%= playlist.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>


